:root {
    --light-clue: #2ea8df;
    --dark-blue: #0B121C;
    --comp-font: 'Montserrat', sans-serif;
    --comp-black: #25292c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--comp-font);
    text-decoration: none;
}


/*---hero background and stares ----- */

.bg-img {
    background-image: url("src/orion/bg/kai-pilger-Ef6iL87-vOA-unsplash.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
}

.stare1 {
    pointer-events: none;
    animation: stares1 35s ease-out;
}

.stare2 {
    pointer-events: none;
    animation: stares2 40s ease-in;
}



.hero {
    height: 100vh;
}


/*----heder----*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;

    /* background: #000; */
}


.logo {
    margin-right: auto;
    opacity: -1;
    animation: slideRight 1s ease forwards;
    cursor: pointer;
    width: 3%;


}


.nav_link {
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0 20px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-duration: calc(.4s*var(--i));

}

.nav_link li a {
    transition: all 0.3s ease 0s;
    color: white;

}

.nav_link li a:hover {
    color: #364FA1;
}

.btn {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #2EA8DF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 3s ease forwards;
}

.btn:hover {
    color: #364FA1;
    background-color: #ffff;
}

.btn2 {
    margin: 30px 0;
    padding: 9px 25px;
    border: solid 1px #2EA8DF;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #2EA8DF;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 3s ease forwards;
}

.btn2:hover {
    background-color: #2EA8DF;
    color: white;
}

/*--------Home--------*/

.home {
    height: 86vh;
    width: 100%;
    display: flex;
    align-items: center;

}

.home-content {
    margin: auto;
    text-align: center;
    color: white;
    z-index: 2;
}

.home-content h1 {
    font-size: 80px;
    line-height: 1.2;
    animation: slideTop 1s ease forwards;
}

.home-content h2 {
    font-size: 40px;
    padding-bottom: 10px;
    animation: slideTop 2s ease forwards;
}



/*-----About------*/
.about {
    padding: 5% 10%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    display: flex;
    align-items: center;
}

.about-content h1 {
    padding: 5% 0;
    font-size: 40px;
    color: var(--light-clue);
}


.about-content,
.about image {
    flex-basis: 50%;
    margin: 0 5%;

}

.vizion {

    background-image: url('src/orion/bg/Deep\ Space\ Backgrounds\ on\ Yellow\ Images\ Creative\ Store.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.c {
    display: flex;
    align-items: center;
    padding: 5% 10%;
    background: rgba(0, 0, 0, 0.3);
}

.vizion-content h1 {
    padding: 5% 0;
    font-size: 40px;
    color: var(--light-clue);
    text-align: center;
}

.vizion-content {
    flex-basis: 50%;
    margin: 0 5%;
    text-align: center;

}

/*------Service-------*/

.service_containt {
    text-align: center;
    padding-bottom: 70px;
}

.service_containt h1 {
    padding: 40px 0;
    font-size: 40px;
    color: var(--light-clue);

}

.service_lists {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.service_card {

    width: fit-content;
    margin: 20px 30px;
    position: relative;
    background-color: #222124;
    border-radius: 15px;

}

.service_img {
    font-size: 80px;
    padding: 50px;
    transition: all 0.5s;
    opacity: 1;
    color: white;

}

.service_card:hover .service_img {
    transform: scale(1.1);
    opacity: 0.5;
}

.service_card:hover .service_desc {
    height: 100%;
}

.service_desc {

    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;

    background: linear-gradient(rgba(34, 33, 36, 1), #2ea7df67);
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 48px;
    text-align: center;
    transition: all 0.8s;
}

/*-------Contact--------*/

.contact {
    background-image: url("src/orion/bg/paul-volkmer-qVotvbsuM_c-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}


.contact-continor {
    background-image: linear-gradient(to top, #eef1f536 0%, #eef1f536 100%);
    backdrop-filter: blur(4px);
    margin: 5% 0;
    border-radius: 15px;

}

.row {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.content-left {
    flex-basis: 40%;
    margin: 3% 30px;
    color: white;
}

.content-left h1 {
    font-size: 40px;
    color: var(--light-clue);
    padding-bottom: 5px;
}




.content-left p {
    font-size: 14px;
    padding: 0 0 8px 30px;
}


.content-left p b {
    font-size: 16px;
    padding-right: 10px;
}

.content-left .social_link {
    padding: 30px 0 0 50px;
}

.content-left .social_link i {
    color: var(--dark-blue);
    padding: 0 5px;
    font-size: 20px;
    transition: all 0.3s ease 0s;

}

.content-left .social_link i:hover {
    color: #2EA8DF;
}

.content-right {
    flex-basis: 60%;
    margin: 3% 30px;

}



form input,
form textarea {
    width: 70%;
    border: 0;
    outline: none;
    background: #ffff;
    padding: 10px;
    margin: 1% 0;
    border-radius: 10px;
}




footer {
    background: #000;
    text-align: center;
    padding: 10px 0;
    color: #364FA1;
}




@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes stares1 {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {

        opacity: 0;

    }

    10%,
    30%,
    50%,
    70%,
    90% {

        opacity: 1;
    }

}

@keyframes stares2 {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: rotate(180deg);
        opacity: 0;

    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(180deg);
        opacity: 1;
    }

}